.*.sw?
Gemfile.lock
.bundle/
.vagrant/
/OUTPUT
/tmp
*.zip
*.log
*.iso
packer_cache
# mergetool
*.orig
dist
puppet/modules/*/spec/fixtures
puppet/modules/*/Gemfile.lock
puppet/modules/*/.vendor/
puppet/modules/*/.bundle/
puppet/modules/*/doc/
puppet/modules/*/.yardoc
/doc/
build_*/
/coverage
/.yardoc
simp-packer-build-*
.vendor/
